[project]
	description = SocialShare
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Günter Platzer (platzerg)
[access "refs/for/refs/*"]
	read = group user/Günter Platzer (platzerg)
	push = group user/Günter Platzer (platzerg)
	label-Code-Review = -2..+2 group user/Günter Platzer (platzerg)
	label-Verified = -1..+1 group user/Günter Platzer (platzerg)
	rebase = group user/Günter Platzer (platzerg)
	removeReviewer = group user/Günter Platzer (platzerg)
	submit = group user/Günter Platzer (platzerg)
[access "refs/heads/*"]
	read = group user/Günter Platzer (platzerg)
	create = group user/Günter Platzer (platzerg)
	push = +force group user/Günter Platzer (platzerg)
	pushMerge = group user/Günter Platzer (platzerg)
[access "refs/tags/*"]
	push = +force group user/Günter Platzer (platzerg)
	pushTag = group user/Günter Platzer (platzerg)
	pushSignedTag = group user/Günter Platzer (platzerg)
