<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.platzerworld.facebook" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:name=".FacebookSocialShareActivity"  android:label="@string/app_name" ></activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <provider android:authorities="com.facebook.app.NativeAppCallContentProvider233936543368280" android:name="com.facebook.NativeAppCallContentProvider" />

    </application>

</manifest>
